<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>804287172813-9e1jt22c2eib8pges5sfc8c69tec1a5i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.804287172813-9e1jt22c2eib8pges5sfc8c69tec1a5i</string>
	<key>API_KEY</key>
	<string>AIzaSyA9SR44upAYgaq3_c9hqF4zx8ZhwCy0N5Y</string>
	<key>GCM_SENDER_ID</key>
	<string>804287172813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tiagoalexbastos.tutoriais.FirebaseSocialLogin</string>
	<key>PROJECT_ID</key>
	<string>fir-socialdemo-56811</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-socialdemo-56811.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:804287172813:ios:30518334fd3f50d8</string>
	<key>DATABASE_URL</key>
	<string>https://fir-socialdemo-56811.firebaseio.com</string>
</dict>
</plist>